<p id="notice"><%= notice %></p>

<h1>Search Result (<%= @articles.count %>)</h1>

<% @articles.each do |article| %>
    <%= render partial: 'index_article', locals: {article: article} %>
<% end %>

<center>
<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</center>